
header{
    display: flex;
    flex-wrap: wrap;
}

.PornPauli{
    padding-left: 2%;

}
.numero{
    padding-top: 17px;
    padding-left: 2%;
}

.anal{
    padding-top: 17px;
    padding-left: 70%;
}

ul{
    display: flex;

}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
    margin-right: 1%;
}

.xxx {
    margin: auto;
    width: 60%;
    margin-left: 20%;
    padding-bottom: 80px;
    margin-top: 30px;

}

section{
    padding-right: 2%;
    padding-left: 3%;
    background-color: rgb(209, 203, 203);
    margin-left: 25px;
    width: 18%;
    border: solid black solid;
    border-radius: 10px;
    
    
}


.text {
    display: flex;

}

.link {
    text-align: center;
    color: white;
    padding-top: 10px;
    float: left;
    padding-left: 8px;
}
.learn{
    height: 40px;
    background-color: black;
    border-radius: 10px;
    width: 100px;
    margin-bottom: 10px;
}

article{
    display: flex;
}

footer{ 
    display: flex;
    margin-top: 20px;
}
div{
    width: 50%;

}

.img_xs{
    float: right;
    padding-right: 45px;
}

h3{
    padding-left: 35px;
}

a:hover{

    color: red;
}

.negrita{
    font-weight: bolder;
}
