
header{
    display: flex;
    flex-wrap: wrap;
}

.PornPauli{
    padding-left: 2%;
    color: red;
}

.numero{
    padding-top: 17px;
    padding-left: 35%;
}

.anal{
    padding-top: 17px;
    padding-left: 35%;
}

ul{
    display: flex;

}

a{
    text-decoration: none;
    color: gray;
}

li{
    list-style-type: none;
    margin-right: 1%;
}

.xxx {
    margin: auto;
    width: 60%;
    margin-left: 17%;

}

section{
    display: flex;
}